<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arisyrifki.app.ensiklopediahewan" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/pawprintss"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pawprintss"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar" >
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".HewanActivity"/>
        <activity android:name=".SatwaActivity"/>
        <activity android:name=".FunActivity"/>
        <activity android:name=".HewanDetail"/>
        <activity android:name=".SatwaDetail"/>
        <activity android:name=".FunDetail"/>

    </application>

</manifest>